bottle==0.12.19
anybadge==1.7.0
astroid==2.5
attrs==20.3.0
bottle==0.12.19
coverage==5.4
iniconfig==1.1.1
isort==5.7.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pylint==2.7.1
pyparsing==2.4.7
pytest==6.2.2
selenium==3.141.0
toml==0.10.2
unittest-xml-reporting==3.0.4
urllib3==1.26.3
# wrapt==1.12.1

